1. Write a python program to convert temperature in Fahrenheit

In [1]:
Celsius = int(input("Please enter a value"))
F1 = Celsius* (9/5)
F2 = F1+32
print(F2)

Please enter a value36
96.8

2. WAP in python find the area of a triangle

In [2]:
l = int(input("Length of the triangle :"))
b = int(input("Breadth of the triangle :"))
area = l * b / 2
print(area)

Length of the triangle :5
Breadth of the triangle :6
15.0

In [13]:
import math
a = float(input("Enter the first side:"))
b = float(input("Enter the second side"))
c = float(input("Enter the third side"))
s = a+b+c / 2
a = s*(s-a)*(s-b)*(s-c)
area = math.sqrt(a)
print(area)

Enter the first side:5
Enter the second side5
Enter the third side5
72.61843774138907

3. Write a Python Program to accept the details of a student like name, roll number and
mark and display it.

Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78

In [3]:
name = input("Enter the name :")
roll_no = input("Enter the roll number :")
mark = input("Enter the mark :")

print("Name : ", name)
print("Roll No : ", roll_no)
print("Mark : ", mark)

Enter the name :Fida
Enter the roll number :8
Enter the mark :75
Name :  Fida
Roll No :  8
Mark :  75

4.Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [6]:
input_num = [30,16,18,45]
print(max(input_num), "is the largest number.")

45 is the largest number.

5.Write a python program to find the average of 5 numbers

In [4]:
numbers = (10,20,30,40,50)
avg = sum(numbers) / len(numbers)
print(avg)

30.0

In [16]:
num1 = 10
num2 = 20
num3 = 30
num4 = 40
num5 = 50
avg = (num1 + num2 + num3 + num4 + num5) / 5
print("The average of numbers = %0.2f" %avg)

The average of numbers = 30.00

6. Python program to insert a number to any position in a list (Get the number to be inserted
and position from the user)

In [6]:
list1 = [10,20,30,40,50,60]
num = int(input("Number to be inserted :"))
pos = int(input("Index to be inserted :"))
list1.insert(pos, num)
print(list1)

Number to be inserted :70
Index to be inserted :6
[10, 20, 30, 40, 50, 60, 70]

In [18]:
list1 = [10,20,30,40,50]
list1.insert(1,"60")
print(list1)

[10, '60', 20, 30, 40, 50]

7.Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [7]:
sample_dict2 = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict2['location'] = sample_dict2.pop('city')
sample_dict2

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

8. Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}

In [8]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

9.Write a program to copy elements 44 and 55 from the following tuple into a new tuple. Given:
tuple1 = (11, 22, 33, 44, 55, 66)

In [11]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
tuple3

(44, 55)

10.Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70,
50,83,567,50,81)

In [12]:
tuple1=(50, 10, 60, 70, 50,83,567,50,81)
print(tuple1.count(50))

3

In [15]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

x = tuple1.count(50)

print(x)

3